.cell{
    border: 2px solid green;
    width: 55px;
    height: 55px;
    display: flex;

}
.grid-wrapper{
    display: inline;
}
.grid{
    display: inline-flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    gap: 1px;
    background-color:antiquewhite;
}

.duck{
    width: 55px;
    height: 55px;
    background-image: url("../Assets/29-duck-png-image.png");
    background-size: cover;
    transition:linear;
    transition-duration: 0.5s;
}

select, button, h3{
    display: inline;
}

#image{
    display: inline;
    float: right;
    width: 400px;
}